{
  "extends": [
    "kentcdodds",
    "kentcdodds/jest",
    "kentcdodds/react",
    "kentcdodds/prettier"
  ],
  "plugins": [
    "eslint-plugin-local-rules"
  ],
  "rules": {
    "no-console": "off",
    "local-rules/no-console": ["error", {allowedMethods: ['info']}],
    "import/prefer-default-export": "off"
  }
}
