{
  "extends": [
    "kentcdodds",
    "kentcdodds/jest",
    "kentcdodds/react",
    "kentcdodds/prettier"
  ],
  "plugins": [
    "eslint-plugin-kcd-egghead"
  ],
  "rules": {
    "no-console": "off",
    "kcd-egghead/no-console": ["error", {allowedMethods: ['info']}],
    "import/prefer-default-export": "off"
  }
}
